<heada></heada>

<sidebar></sidebar>

<!-- begin #content -->
<div id="content" class="content">
    <!-- begin page-header -->
    <h1 style="margin-top: 50px;" class="page-header">Change Password</h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
            <div class="col-md-6" style="margin-left: -37px;">
                <alert></alert>
                <!-- begin panel -->
                <div class="panel panel-inverse" data-sortable-id="form-validation-1">
                    <div class="panel-body panel-form">
                        <form class="form-horizontal" (ngSubmit)="changePassword()" #changePasswordForm="ngForm" data-parsley-validate="true">
                            <span><div id="capsLockCheck" class="badge badge-warning badge-square" style="visibility: hidden; margin-left: 135px; margin-bottom: 10px;">Caps Lock is on.</div></span>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="oldPassword">Old Password *</label>
                                <div class="col-md-9">
                                    <input type="password" id="oldPassword" name="oldPassword" onkeypress="capLock(event)" class="form-control" [(ngModel)]="oldpassword" data-parsley-required="true"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="newPassword">New Password *</label>
                                <div class="col-md-9">
                                    <input type="password" id="newPassword" name="newPassword" onkeypress="capLock(event)" class="form-control" [(ngModel)]="newpassword" data-parsley-required="true"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="retryPassword">Retry Password *</label>
                                <div class="col-md-9">
                                    <input type="password" id="retryPassword" name="retryPassword" onkeypress="capLock(event)" class="form-control" [(ngModel)]="retrypassword" data-parsley-required="true"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-9">
                                    <button type="submit" class="btn btn-sm btn-success">Change Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end panel -->
            </div>
        </div>
    </div>
    <!-- end row -->
</div>
<!-- end #content -->
