<!-- begin login -->
<div class="login login-with-news-feed">
    <!-- begin news-feed -->
    <div class="news-feed">
        <div class="news-image">
            <img src="/app/assets/img/login-bg/bg-7.jpg" data-id="login-cover-image" alt="" />
        </div>
        <div class="news-caption">
            <h4 class="caption-title"><i class="fa fa-diamond text-success"></i>Gapso</h4>
            <p>
                Real Time Gas And Petrol Station Management App
            </p>
        </div>
    </div>
    <!-- end news-feed -->
    <!-- begin right-content -->
    <div class="right-content">
        <!-- begin login-header -->
        <div class="login-header">
            <div class="brand">
                <span class="logo"></span> Gapso
                <small>Real Time Gas And Petrol Station Management App</small>
            </div>
            <div class="icon">
                <i class="fa fa-sign-in"></i>
            </div>
        </div>
        <!-- end login-header -->
        <!-- begin login-content -->
        <div class="login-content">
            <alert></alert>
            <form (ngSubmit)="validateLoginEmail()" class="margin-bottom-0" #loginForm="ngForm">
                <div class="form-group m-b-15">
                    <input id="emailAddress" name="emailAddress" type="text" class="form-control" placeholder="Email Address" [(ngModel)]="user.emailAddress" required/>
                </div>
                <div class="form-group m-b-15">
                    <input id="password" name="password" type="password" onkeypress="capLock(event)" class="form-control" placeholder="Password" [(ngModel)]="user.password" required/>
                    <span><div id="capsLockCheck" class="badge badge-warning badge-square" style="visibility: hidden">Caps Lock is on.</div></span>
                </div>
                <div class="login-buttons">
                    <button type="submit" class="btn btn-primary btn-block btn-lg" [disabled]="!loginForm.form.valid">Sign me in</button>
                </div>
                <div class="m-t-20 m-b-0 p-b-0">
                    Forgot password? <a routerLink="/emailcheck" (click)="startChangePassword()" class="text-success" routerLinkActive="active">Click here</a> to reset.
                </div>
                <div class="m-t-20 m-b-20 p-b-20">
                    Not a member yet? <a routerLink="/register" class="text-success" routerLinkActive="active">Register a new account</a> .
                </div>
                <hr />
                <p class="text-center text-inverse">
                    &copy; CarlbTech All Right Reserved 2017
                </p>
            </form>
        </div>
        <!-- end login-content -->
    </div>
    <!-- end right-container -->
</div>
<!-- end login -->

